<!DOCTYPE html>
<html>
<head>
    <title>Exchange Rates</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Currency</th>
                <th>Code</th>
                <th>Bid</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>